.home#home
  .text-vcenter
    %h1
      Can You Really Improve Your English From Home?
    - if current_student
      %end
    %h3
      Yes! You can now learn English online with Skype English classes, enjoy high quality engaging lessons given by our trusted native English teachers - no matter where in the world you are.
    %a.btn.btn-default.btn-lg{:href => "#about"}
      Continue

-# <div class="jumbotron jumbotron-fluid center">
-#   <div class="container-fluid">
-#     <h1 class="display-3">Can You Really Improve Your English From Home?</h1>
-#     <% if current_student %>
-#     <% end %>
-#     <hr class="m-y-2">
-#     <p class="lead"> Yes! You can now learn English online with Skype English classes, enjoy high quality engaging lessons given by our trusted native English teachers - no matter where in the world you are. </p>
-#     <p class="lead">
-#       <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
-#     </p>
-#   </div>
-# </div>
