%section
  %article
    %h1
      Our range of services will help you learn English on your terms, focusing on your specific needs
      %p When it comes to learning and improving in English, everyone”s needs are different. That”s why we offer several different services to fit your exact needs:
        %ul
          %li Conversation
          %li General English
          %li Business English
          %li Legal English
          %li English For Special Purposes
          %li Exam Preparation
          %li Job Interview Preparation
          %li Writing Services
          %li Conversation
      %p These classes give you the opportunity to chat while you learn English in an informal way with your tutor about interesting and current topics. This is particularly useful for acquiring better fluency and listening skills. Real-time error correction, pronunciation and new vocabulary are key areas of focus. Each class is focused on a different topic in order to acquire a wide range of new vocabulary. To ensure maximum retention, each lesson begins with a quick review of the previous class”s vocabulary.
    %h2
      General English
      %p Want to improve your English in many areas? Our teachers utilise a wide range of material in the form of videos, audio clips and articles to improve your skills in listening, speaking, writing and grammar. Relevant exercises and quizzes form a part of these highly dynamic lessons. Of course, based on your preference and your teacher”s recommendations, certain skills can be given priority over others. For eg., if you or your teacher thinks your grammar knowledge and use is not as strong as it should be, lessons can include more grammar practise, with specific exercises to teach what you need to learn.
    %h2
      Business English
      %p Need to learn English to advance in your career or job? Becoming more proficient in English can offer significant advantages in the workplace and give you a significant edge over your peers.Examples of business skills practised:
      %ul
        %li Meetings
        %li Presentations
        %li Telephone Skills
        %li Job Interviews
        %li Negotiations
        %li Foreign Customs, Manners & Traditions
        %li Socialising / Idioms & Expressions
        %li Travel
        %li Management
        %li Communications
        %li Sales & Marketing
      %p Depending on your needs, lessons can be focused on one or more of the above topics, or on another specific area of focus.
    %h2
      Legal English
      %p Law is a field with extensive vocabulary and unique grammatical structures. Your tutor will be experienced in the study of law to ensure your needs are fully met.
    %h2
      English for Specific Purposes
      %p Does your current or future job require you to learn English which requires you to speak in a certain way? Whether you work in the service, hotel, medical, engineering or other industry, these classes will give you the vocabulary and speaking practice needed to succeed and excel in your field.
    %h2
      Exam Preparation
      %p Preparing for an exam? Get a head start with your personal English tutor. We offer exam preparation for all of the official Cambridge exams including: FCE, CAE, Proficiency. All with teachers accredited with the CELTA qualification, so they penalize in knowing which aspects of English you need to learn. In addition, they can do preparation for any other exams both within the public education system and professional qualifications.
    %h2
      Job Interview Preparation
      %p Do you have an important interview in the near future? We can offer you intensive classes which practice interview skills with special attention and focus practicing the parts of English that you will need to use in your specific field, equipping you with the tools you need in order to excel in your interview while also learning skills which can readily be applied elsewhere.
    %h2
      Writing Practice
      %p In addition to the spoken language, written English is an important aspect of the language both in terms of your studies and in many work situations which require competent use written English. As such, we offer the opportunity to practice your written English through specific assignments which are targeted so that you practice whats important and relevant. These are corrected outside of the class hours and sent to you before the next class so that part of the lesson can be dedicated to explaining your errors and giving advice on how to improve your written English.
    %h2
      English Translation
      %p We are online translators who are happy to work with you or independently to translate texts on a wide range of subjects. Although we translate into English primarily from Spanish, send us an inquiry about a text you’d like translated from another language and we will try to meet your needs. We also provide translations into Spanish, upon request. English Tutors Live prides itself on providing hassle and error free translations by skilled translators.

    %h5 **Translation services are priced separately from classes, at €25 for the first page, and €0.08 per word thereafter.
