<%= @user.email %>'s profile
<% if @user.profile != nil %>
  <h4> Name: <%= @user.profile.name %> </h4>
  <h4> Bio: <%= @user.profile.bio %> </h4>
<% end %>
<%=link_to 'Make a profile', new_profile_path %>

<a href ="#">Edit profile</a>
