<%= current_student.email %>'s profile
<% if current_student.student_profile == nil %>
  <h1>You do not have a profile yet</h1>
  <a href ="#">Create Profile</a>
<% else %>
  <a href ="#">Edit profile</a>
<% end %>
