<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name </th>
      <th>Bio</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @teacher_profiles.each do |profile| %>
    <tr>
      <td><%= profile.name %></td>
      <td><%= profile.bio %></td>
    </tr>
    <% end %>
  </tbody>
</table>
