<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

<<<<<<< HEAD
<h1>Teachers</h1>

<div id="teacher_profiles">
||||||| 6e99bb5... Merge pull request #22 from ric9176/development
<h1>Choose a teacher!</h1>

<div id="teacher_profiles">
=======
>>>>>>> parent of 6e99bb5... Merge pull request #22 from ric9176/development
<table>
  <thead>
    <tr>
      <th>Name </th>
      <th>Bio</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @teacher_profiles.each do |profile| %>
    <tr>
      <td><%= profile.name %></td>
      <td><%= profile.bio %></td>
    </tr>
    <% end %>
  </tbody>
</table>
