<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

<h1>Choose a teacher!</h1>

<div id="teacher_profiles">

<table>
  <thead>
    <tr>
      <th>Name </th>
      <th>Bio</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>

    <% @teachers.each do |teacher| %>
      <% if teacher.teacher_profile %>
      <tr>
        <td><%= link_to "#{teacher.teacher_profile.name}", {controller: "relationships", action: "create", teacher_id: teacher.id}, method: :post %></td>
        <td><%= teacher.teacher_profile.bio %></td>
        <% if teacher == current_teacher %>
          <td><%= link_to 'Edit My Profile', edit_teacher_profile_path(teacher.teacher_profile) %></td>
        <% end %>
      </tr>
      <% end %>

    <% end %>
  </tbody>
</table>
