#myCarousel.carousel.slide.jumbotron.my-carousel
  .container
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    %img.logo{:src => 'etl-logo.png', :width => '40%'}
      .carousel-inner
        .item.active
          %h1 Enjoy quality lessons
        .item
          %h1 on your terms
        .item
          %h1 wherever you are
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.icon-next
%article.why-us#why-us
  .pad-section.landing-page
    .container
      .row
        .col-sm-12.text-center
          %section
            %h1
              Why Choose English Tutors Live?
            %iframe{:width => "800", :height => "480", :src => "https://www.youtube.com/v/Ck6jrLZUmyE&feature=youtu.be"}
%article.services#services-list
  %section
    .row
      .col-md-10.col-md-offset-1
        %h1.service-caption
          Our range of services will help you learn English on your terms, focusing on your specific needs
    .row.glyph-row
      .col-md-4.icon
        %span.glyphicon.glyphicon-user
        %a.glyph-caption{:href => "#conversation-serv"}Conversation
      .col-md-4.icon
        %span.glyphicon.glyphicon-pencil
        %a.glyph-caption{:href => "#writing-practice-serv"}Writing Services
      .col-md-4.icon
        %span.glyphicon.glyphicon-transfer
        %a.glyph-caption{:href => "#english-trans-serv"}English Translation
    .row.glyph-row
      .col-md-4.icon
        %span.glyphicon.glyphicon-briefcase
        %a.glyph-caption{:href => "#job-interview-serv"}Job Interview Preparation
      .col-md-4.icon
        %span.glyphicon.glyphicon-education
        %a.glyph-caption{:href => "#exam-prep-serv"}Exam Preparation
      .col-md-4.icon
        %span.glyphicon.glyphicon-blackboard
        %a.glyph-caption{:href => "#exam-prep-serv"}Presentation Preparation
%article.pricing#pricing
  %section.pricing-table
    .container
      .row
        .pricing
          .col-md-4.col-sm-12.col-xs-12
            .pricing-table
              .pricing-header
                %p.pricing-title Conversation Class
                %p.pricing-rate
                  %sup  ‎ ‎€
                  9
                  %span /25 mins
                %a.btn.btn-custom{:href => "#"} Sign up now!
              .pricing-list
                %ul
                  %li
                    %i.fa.fa-envelope>
                    Conversation practice
                  %li
                    %i.fa.fa-signal
                    %span
                    Real time error correction
                  %li
                    %i.fa.fa-signal
                    %span
                    Real time materials
          .col-md-4.col-sm-12.col-xs-12
            .pricing-table
              .pricing-header
                %p.pricing-title Premium Class
                %p.pricing-rate
                  %sup ‎€
                  11
                  %span /25 mins
                %a.btn.btn-custom{:href => "#"} Sign up now!
              .pricing-list
                %ul
                  %li
                    %i.fa.fa-envelope>
                    Advanced memory techniques
                  %li
                    %i.fa.fa-signal
                    %span
                    Exam preparation
                  %li
                    %i.fa.fa-signal
                    %span
                    Pronunciation practise

          .col-md-4.col-sm-12.col-xs-12
            .pricing-table
              .pricing-header
                %p.pricing-title Specialist Class
                %p.pricing-rate
                  %sup ‎€
                  13
                  %span /25 mins
                %a.btn.btn-custom{:href => "#"} Sign up now!
              .pricing-list
                %ul
                  %li
                    %i.fa.fa-envelope>
                    Expert teacher in field
                  %li
                    %i.fa.fa-signal
                    %span
                    Interview coaching
                  %li
                    %i.fa.fa-signal
                    %span
                    Post-class error correction

=render "layouts/footer"
