body, header, section, footer, aside, nav, main, figure {
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 32px;
}
ul.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(33,166,207,0.8);
    position: fixed;
    top: 0;
    width: 100%;
}
li.nav-tabs {
    float: right;
}
li.home-tab {
  float: left;
}
li.nav-tabs a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.nav-tabs li.home-tab a:hover:not(.active) {
    background-color: #ff8a00;
}
.active {
    background-color: #ff8a00;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav-tabs {
    border-right: 1px solid #bbb;
}

li.nav-tabs:first-child {
    border-right: none;
}
