%footer
  %article.contact
    %p.text-left
      EnglishTutorsLive
    %p
      info@englishtutorslive.com
    %ul.nav.navbar-nav.navbar-right.teacher-sign-in
      %li
        = link_to 'Teacher Sign In', new_teacher_session_path
