<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="/">ETL</a>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/why_us">Why Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/services">Services</a>
    </li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pricing">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/book_a_free_lesson">Book a Free Lesson</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/blog">Blog</a>
    </li>
  </ul>
  <!-- <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form> -->
</nav>
