%nav
  = link_to "ETL", root_path, class: "navbar-brand"
  %ul
    %li
      %a{:href => "/"}
        Home
        %span(current)
    %li
      %a{:href => "/why_us"} Why Us
    %li
      %a{:href => "/services"} Services
    %li
      %a{:href => "/pricing"} Pricing
    %li
      %a{:href => "/book_a_free_lesson"} Book a Free Lesson
    %li
      %a{:href => "/contact"} Contact
    %li
      %a{:href => "/blog"} Blog
