%nav.navbar.navbar-full.navbar-dark.bg-inverse
  = link_to "ETL", root_path, class: "navbar-brand"
  %button.navbar-toggler.hidden-sm-up.pull-xs-right{"data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
    ☰
  #exCollapsingNavbar2.collapse.navbar-toggleable-xs
    %ul.nav.navbar-nav.pull-xs-right
      %li.nav-item.active
        %a.nav-link{:href => "/"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "/why_us"} Why Us
      %li.nav-item
        %a.nav-link{:href => "/services"} Services
      %li.nav-item
        %a.nav-link{:href => "/pricing"} Pricing
      %li.nav-item
        %a.nav-link{:href => "/book_a_free_lesson"} Book a Free Lesson
      %li.nav-item
        %a.nav-link{:href => "/contact"} Contact
      %li.nav-item
        %a.nav-link{:href => "/blog"} Blog
