%nav.navbar.navbar-default.bg-inverse
  %div.container-fluid
    %div.navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button", "aria-expanded" => "false"}
        .span.sr-only Toggle navigation
        .span.icon-bar
        .span.icon-bar
        .span.icon-bar
      %ul.nav.navbar-nav.pull-right

        %li
          %a.navbar-brand= link_to "ETL", root_path
        %li.nav-item
          %a.nav-link{:href => "/why_us"} Why Us
        %li.nav-item
          %a.nav-link{:href => "/services"} Services
        %li.nav-item
          %a.nav-link{:href => "/pricing"} Pricing
        %li.nav-item
          %a.nav-link{:href => "/book_a_free_lesson"} Book a Free Lesson
        %li.nav-item
          %a.nav-link{:href => "/contact"} Contact
        %li.nav-item
          %a.nav-link{:href => "/blog"} Blog
